::-webkit-scrollbar {
    width: 10px;
    background-color: #16181f;
}
::-webkit-scrollbar-thumb {
    background-color:  rgb(44, 20, 232);
    border-radius: 15px;
}
html {
    scroll-behavior: smooth; /*Coloca uma animação na hora de */
}
body{
    padding: 0;
    margin:0;
    font-family: poppinsregular;
}
header{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 999;
}
li{
    display: inline-block;
    margin: 30px;
    margin-right: 50px;
}
a{
    color: white;
}
a:hover{
    color: rgb(44, 20, 232);
    transition: 0.4s all;
}
main{
    background-color: rgb(59, 137, 216);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 110px;
    padding-bottom: 50px;
}
#name{
    color: white;
    margin-left: 20px;
}
h2{
    font-family: poppinsbold;
    font-weight: 200;
    margin-top: 45px;
    color: white;
    font-size: 30px;
    text-align: center;
}
p{
    text-indent: 2.5em;
    line-height: 30px;
    font-family: poppinslight;
    max-width: 500px;
    margin-top: 30px;
    font-size: bold;
    color: white;
}
.imgMinhaFoto {
    width: 400px;
    margin-left: 150px;
    margin-top: 25px;
    margin-right: 50px; 
    border-radius: 50%;
}
section{
    background-color: rgb(9, 5, 5);
    color: white;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    min-height: 100%;
}
.experienciasContent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.textINSS p{
    text-align: center;
}
#imgINSS {
    width: 500px;
}
.experienceText {
    display: flex;
    flex-direction: column;
}