::-webkit-scrollbar {
    width: 10px;
    background-color: #16181f;
}
::-webkit-scrollbar-thumb {
    background-color:  rgb(44, 20, 232);
    border-radius: 15px;
}
html {
    scroll-behavior: smooth; /*Coloca uma animação na hora de */
}
body{
    padding: 0;
    margin:0;
    font-family: poppinsregular;
}
header{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 999;
    height: 70px;
}
#logoPortifolio:hover{
    transform: scale(1.2);
}
#logoPortifolio{
    transition: 0.4s ease-in-out;
}
li{
    display: inline-block;
    margin: 30px;
    margin-right: 50px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(44, 20, 232);
    transition: 0.4s all;
}
main{
    background-color: rgb(59, 137, 216);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 50px;
}
h2{
    font-family: poppinsbold;
    font-weight: 200;
    margin-top: 45px;
    color: white;
    font-size: 30px;
    text-align: center;
}
p{
    text-indent: 2.5em;
    line-height: 30px;
    font-family: poppinslight;
    max-width: 500px;
    margin-top: 30px;
    font-size: bold;
    color: white;
}
.imgMinhaFoto {
    width: 400px;
    margin-left: 150px;
    margin-top: 25px;
    margin-right: 50px; 
    border-radius: 50%;
}
section #Trabalho{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    min-height: 100%;
}
.workContent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 3rem;
}
.textT2S p{
    text-align: center;
    color: black;
}
#imgT2S {
    width: 300px;
}
.workText {
    display: flex;
    flex-direction: column;
}
.workText h2 {
    color: black;
}
.titles .sectionWork{
    color: black;
}
#Habilidades{
    background-color: rgb(59, 137, 216);
    padding-top: 5px;
    padding-bottom: 10rem;
}
.containerSkills{
    max-width: 1200px;
    margin: 0 auto;
}
.SkillsPT1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
}
.SkillsPT1 div{
    margin-top: 40px;
}
.imgSkills{
    width: 100px;
    transition: 0.5s ease-in-out;
    border-radius: 35px;
    background: none;
    transition: box-shadow 0.1s;
    color: #202020;
    border: 4px solid #00d9ff;
}
.imgSkills:hover{
    transform: scale(1.2);
    border: 4px solid #00d9ff;
    color: #00d9ff;
    box-shadow: 0px 0px 35px #00d9ff, 0px 0px 15px #00d9ffc0 inset;
    text-shadow: 0px 0px 10px #00d9ffcc, 0px 0px 3px #00d9ff;
}
.SkillsPT2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
}
.SkillsPT2 div{
    margin-top: 40px;
}
footer{
    background-color: rgb(44, 20, 232);
    padding-top: 5px;
}
.contact1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.farewell h3{
    margin-top: 1.7rem;
    font-family: poppinsbold;
    color:white;
}
.farewell p{
    text-indent: 0;
    font-family: poppinslight;
    color: white;
}
.containerSocialMidia h2{
    font-family: poppinsbold;
    margin-top: 25px;
    color: white;
    font-size: 20px;
    margin-bottom: auto;
}
.containerSocialMidia {
    display: flex;
    flex-direction: column;
}
.socialMidia{
     padding: 0;
     display: flex;
}
.copyrightcontent hr{
  display: flex;
  border-style: inset;
  border-width: 1px;
  max-width: 1200px;
}
.textCopyright{
    display: flex;
    justify-content: center;
    font-size: 11px;
}
.imgContact{
    border-radius: 8px;
}
.imgContact:hover{
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 35px #00d9ff, 0px 0px 15px #00d9ffc0 inset;
    text-shadow: 0px 0px 10px #00d9ffcc, 0px 0px 3px #00d9ff;
    transform: scale(1.3);
    border-radius: 8px;
}